# =====================
# Gradle
# =====================
.gradle/
build/

# =====================
# IntelliJ IDEA
# =====================
.idea/
*.iml
out/

# =====================
# Logs
# =====================
*.log

# =====================
# OS
# =====================
.DS_Store
*~